.navbar {
    button {
        padding: 10px;
        border-radius: .625rem;
        font-weight: bold;
        box-shadow: 5px 5px 5px grey;
        font-size: 14px;
    }
}
.paso {
    button{
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
        a{
            text-decoration: none;
            font-weight: bold;
            color: $color-fuente;
        }
    }
}
    
